.container {
    height: 100vh;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #208B8B;
}

.content {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
    padding-top: 5vh;
    color: #FFF;
}

.title {
    font-size: 7vh;
    font-weight: 900;
}

.text {
    width: 68%;
    font-size: 3vh;
    text-align: center;
}

.links {
    color: #fff;
    font-size: 2vh;
    text-decoration: none;
    font-weight: 900;
    position: relative;
    transition: color 0.2s ease-in-out;
}

.links::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #1d334a;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

.links:hover {
    cursor: pointer;
    color: #1d334a;
}

.links:hover::after {
    transform: scaleX(1);
}