.container {
    height: 100vh;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #208B8B;
}

.content {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
    margin-top: 10vh;
    color: #FFF;
}

.title {
    font-size: 10vh;
    font-weight: 900;
}

.blocks {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.block {
    background-color: #176565;
    width: 20%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50px;
    padding: 10px 15px;
}

.typewriterBase {
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    border-right: 2px solid #fff;
    animation: blink 0.75s step-end infinite;
    font-family: monospace;
    color: #fff;
    font-size: 3.5vh;
    font-weight: 700;
    opacity: 0;
}

.typewriter1 {
    width: 10ch;
    animation: typing1 1s steps(10, end) 1s forwards, blink 0.75s step-end infinite;
}

.typewriter2 {
    width: 13ch;
    animation: typing2 1.4s steps(13, end) 1s forwards, blink 0.75s step-end infinite;
}

.typewriter3 {
    width: 15ch;
    animation: typing3 1.5s steps(15, end) 1s forwards, blink 0.75s step-end infinite;
}

.typewriter4 {
    width: 12ch;
    animation: typing4 1.2s steps(12, end) 1s forwards, blink 0.75s step-end infinite;
}

.fontText {
    font-size: 2.25vh;
    text-align: justify;
}

@keyframes typing1 {
    from {
        width: 0;
        opacity: 0;
    }

    to {
        width: 10ch;
        opacity: 1;
    }
}

@keyframes typing2 {
    from {
        width: 0;
        opacity: 0;
    }

    to {
        width: 13ch;
        opacity: 1;
    }
}

@keyframes typing3 {
    from {
        width: 0;
        opacity: 0;
    }

    to {
        width: 15ch;
        opacity: 1;
    }
}

@keyframes typing4 {
    from {
        width: 0;
        opacity: 0;
    }

    to {
        width: 12ch;
        opacity: 1;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.links {
    color: #fff;
    font-size: 2vh;
    text-decoration: none;
    font-weight: 900;
    position: relative;
    transition: color 0.2s ease-in-out;
}

.links::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #1d334a;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

.links:hover {
    cursor: pointer;
    color: #1d334a;
}

.teamCarousel {
    width: 100%;
}

.carouselItem {
    text-align: center;
    padding: 1rem;
}

.carouselImage {
    width: 110px;
    height: 110px;
    object-fit: cover;
    margin: 0 auto 1rem;
    border: 3px solid #2c3e50;
}

.singleMemberContainer {
    padding: 20px 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.singleMemberImage {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 4px solid #2c3e50;
}

.memberInfo {
    text-align: center;
    max-width: 150px;
}

.memberName {
    color: #fff;
    font-weight: 900;
    font-size: 2.25vh;
}

.memberInfo p {
    color: #fff;
    font-size: 2.25vh;
}

@media (max-width: 768px) {
    .singleMemberImage {
        width: 120px;
        height: 150px;
    }
}

:global(.swiper-button-next),
:global(.swiper-button-prev) {
    color: #fff !important;
}