.head {
    background-color: #176565;
    font-family: monospace;
    width: 100%;
    position: relative;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headContent {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftSide {
    width: 10%;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    color: #fff;
    font-weight: 900;
    padding-bottom: 1.5vh;
    font-size: 4vh;
}

.logo {
    width: 100px;
    height: auto;
}

.rightSide {
    width: 15%;
    padding-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

.links {
    color: #fff;
    font-size: 2vh;
    text-decoration: none;
    font-weight: 900;
    position: relative;
    transition: color 0.2s ease-in-out;
}

.links::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #1d334a;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

.links:hover {
    cursor: pointer;
    color: #1d334a;
}

.links:hover::after {
    transform: scaleX(1);
}