.foot {
    background-color: #176565;
    font-family: monospace;
    width: 100%;
    position: relative;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vh;
    color: #FFF;
}

.title {
    font-size: 2vh;
    font-weight: 900;
}

.subtitle {
    text-align: center;
}